---
import Link from "~/components/ui/Link.astro";
import Heading from "~/components/ui/Heading.astro";
import { Image } from "astro:assets";
import avatar from "~/assets/avatar.jpg";
---

<header aria-label="Introduction to Ian" class="hero-home">
  <Image
    src={avatar}
    alt="Ian Simmons"
    width={200}
    class="avatar"
    format="avif"
  />
  <Heading tagName="h1" size="h2">👋 Hi, I'm Katie</Heading>
  <p>I'm a self-taught designer and developer obsessed with quality.</p>
  <div>
    <Link href="#" variant="secondary">Download CV</Link>
    <Link href="#contact">Let's Connect</Link>
  </div>
</header>
