---
import Nav from "~/components/Nav.astro";
import BaseHead from "./BaseHead.astro";
import "~/styles/global.css";

type Props = {
  title?: string;
  description?: string;
};
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <Nav>
      <main>
        <slot />
      </main>
    </Nav>
  </body>
</html>
